body{
    width: 90%;
    height: 100%;
    background-color: black;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

p{
  text-align: center;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 450px;
  background-color: white;
  border-radius: 15px;
  border: 4px;
  border-color: black;
  border-style: solid;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img{
  width: 659px;
  height: 335px;
  object-fit:scale-down;
}
ul.slider li:first {
  opacity: 1; 
}
ul.slider li:target {
  opacity: 1; 
}

.boton{
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}



div{
    padding: 30px;
    margin-top: 3%;
    border-radius: 20px;
    margin-left: 27%;
    margin-right: 20%;
    border: 2px solid black;
    background-color: rgb(46, 193, 213);
}

a{
    font-style: italic;
    margin-left: 40%;
    color: black;
}
h1{
    text-align: center;
    color: white;
}



.texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.texto{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    pointer-events: none;
}

.menu{
    text-align: center;
    margin: 20px;
  }
  .menu li{
    display: inline-block;
    text-align: center;
  }

  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color:rgb(12, 12, 12);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }